@charset "utf-8";

body{
	font-family:'굴림',gulim;
}

body,ul,li,a,img,span,p{
	margin:0;
	padding:0;
}

li{
	zoom:1;/* ie7 대응 */
	list-style:none;
}

img{
	border:0;
	vertical-align:top;
}

a{
	text-decoration:none;
}

.ad_cont{
	width:298px;
	margin:0 auto;
	padding:18px 0 0;
	border:1px solid #e8e8e8;
}

.ad_list{
	padding:0 12px 7px 15px;
}

.ad_list li{
	padding-bottom:11px;
}

.ad_list li:after{
	display:block;
	content:'';
	clear:both;
}

.ad_img_area{
	float:left;
	margin-right:12px;
}

.ad_img_area a{
	display:block;
	position:relative;
}

.ad_img_area .mask{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border:1px solid #000;
	opacity:0.1;
	filter: alpha(opacity=10);/* ie7,8 대응 */
}

.ad_tit{
	font-size:13px;
	line-height:20px;
	letter-spacing:-1px;
	color:#000;
}

.ad_txt_area{
	overflow:hidden;
	padding:11px 0 0
}

.ad_txt_area .ad_tit{
	display:block;
	font-weight:bold;
}

.ad_txt_area .ad_name{
	font-size:12px;
	letter-spacing:-1px;
	color:#888;
}

.ad_box{
	position:relative;
	margin:0 15px;
	padding-top:11px;
	padding-bottom:7px;
	border-top:1px solid #e8e8e8
}

.ad_box .ad_icon{
	position:absolute;
	top:11px;
	right:0;
}